* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    overflow-x: hidden;
}

header {
    height: 100vh;
    width: 100vw;
    background-image: url(images/pexels-christian-heitz-285904-842711.jpg);
    background-size: cover;
    background-position: center;
    
}

.logo {
    cursor: pointer;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.navbar a {
    color: white;
}

.navbar .logo {
    width: 100px;
    height: 40px;
}

.navbar .nav_links ul {
    display: flex;
}

.navbar .nav_links ul li {
    margin: 0 25px;
}

.navbar .nav_links ul li.active a {
    color: white;
    font-weight: 600;
}

@media screen and (max-width: 900px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    .navbar .nav_links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar .nav_links ul li {
        margin: 10px 0;
    }
}

.search_form {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 70px; /* Adjust margin as needed for spacing */
    position: absolute;
    top: 100px; /* Adjust position to be below navbar */
    left: 0;
    right: 0;
}

.search {
    --padding: 14px;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background: #f6f6f6;
    transition: box_shadow 0.25s;
}

.search:focus-within {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}

.search-input {
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    color: #333333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
}

.search-input::placeholder,
.search-icon {
    color: rgba(0, 0, 0, 0.25);
}

.continue-application {
    --color: #fff;
    --background: #404660;
    --background-hover: #3A4059;
    --background-left: #2B3044;
    --folder: #F3E9CB;
    --folder-inner: #BEB393;
    --paper: #FFFFFF;
    --paper-lines: #BBC1E1;
    --paper-behind: #E1E6F9;
    --pencil-cap: #fff;
    --pencil-top: #275EFE;
    --pencil-middle: #fff;
    --pencil-bottom: #5C86FF;
    --shadow: rgba(13, 15, 25, .2);
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    
    -webkit-tap-highlight-color: transparent;
    padding: 17px 29px 17px 69px;
    transition: background 0.3s;
    color: var(--color);
    background: var(--bg, var(--background));
    left:20px;
  }
  
  .continue-application > div {
    top: 0;
    left: 0;
    bottom: 0;
    width: 53px;
    position: absolute;
    overflow: hidden;
    border-radius: 5px 0 0 5px;
    background: var(--background-left);
  }
  
  .continue-application > div .folder {
    width: 23px;
    height: 27px;
    position: absolute;
    left: 15px;
    top: 13px;
  }
  
  .continue-application > div .folder .top {
    left: 0;
    top: 0;
    z-index: 2;
    position: absolute;
    transform: translateX(var(--fx, 0));
    transition: transform 0.4s ease var(--fd, 0.3s);
  }
  
  .continue-application > div .folder .top svg {
    width: 24px;
    height: 27px;
    display: block;
    fill: var(--folder);
    transform-origin: 0 50%;
    transition: transform 0.3s ease var(--fds, 0.45s);
    transform: perspective(120px) rotateY(var(--fr, 0deg));
  }
  
  .continue-application > div .folder:before, .continue-application > div .folder:after,
  .continue-application > div .folder .paper {
    content: "";
    position: absolute;
    left: var(--l, 0);
    top: var(--t, 0);
    width: var(--w, 100%);
    height: var(--h, 100%);
    border-radius: 1px;
    background: var(--b, var(--folder-inner));
  }
  
  .continue-application > div .folder:before {
    box-shadow: 0 1.5px 3px var(--shadow), 0 2.5px 5px var(--shadow), 0 3.5px 7px var(--shadow);
    transform: translateX(var(--fx, 0));
    transition: transform 0.4s ease var(--fd, 0.3s);
  }
  
  .continue-application > div .folder:after,
  .continue-application > div .folder .paper {
    --l: 1px;
    --t: 1px;
    --w: 21px;
    --h: 25px;
    --b: var(--paper-behind);
  }
  
  .continue-application > div .folder:after {
    transform: translate(var(--pbx, 0), var(--pby, 0));
    transition: transform 0.4s ease var(--pbd, 0s);
  }
  
  .continue-application > div .folder .paper {
    z-index: 1;
    --b: var(--paper);
  }
  
  .continue-application > div .folder .paper:before, .continue-application > div .folder .paper:after {
    content: "";
    width: var(--wp, 14px);
    height: 2px;
    border-radius: 1px;
    transform: scaleY(0.5);
    left: 3px;
    top: var(--tp, 3px);
    position: absolute;
    background: var(--paper-lines);
    box-shadow: 0 12px 0 0 var(--paper-lines), 0 24px 0 0 var(--paper-lines);
  }
  
  .continue-application > div .folder .paper:after {
    --tp: 6px;
    --wp: 10px;
  }
  
  .continue-application > div .pencil {
    height: 2px;
    width: 3px;
    border-radius: 1px 1px 0 0;
    top: 8px;
    left: 105%;
    position: absolute;
    z-index: 3;
    transform-origin: 50% 19px;
    background: var(--pencil-cap);
    transform: translateX(var(--pex, 0)) rotate(35deg);
    transition: transform 0.4s ease var(--pbd, 0s);
  }
  
  .continue-application > div .pencil:before, .continue-application > div .pencil:after {
    content: "";
    position: absolute;
    display: block;
    background: var(--b, linear-gradient(var(--pencil-top) 55%, var(--pencil-middle) 55.1%, var(--pencil-middle) 60%, var(--pencil-bottom) 60.1%));
    width: var(--w, 5px);
    height: var(--h, 20px);
    border-radius: var(--br, 2px 2px 0 0);
    top: var(--t, 2px);
    left: var(--l, -1px);
  }
  
  .continue-application > div .pencil:before {
    -webkit-clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
    clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
  }
  
  .continue-application > div .pencil:after {
    --b: none;
    --w: 3px;
    --h: 6px;
    --br: 0 2px 1px 0;
    --t: 3px;
    --l: 3px;
    border-top: 1px solid var(--pencil-top);
    border-right: 1px solid var(--pencil-top);
  }
  
  .continue-application:before, .continue-application:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    border-radius: 1px;
    background: var(--color);
    transform-origin: 9px 1px;
    transform: translateX(var(--cx, 0)) scale(0.5) rotate(var(--r, -45deg));
    top: 26px;
    right: 16px;
    transition: transform 0.3s;
  }
  
  .continue-application:after {
    --r: 45deg;
  }
  
  .continue-application:hover {
    --cx: 2px;
    --bg: var(--background-hover);
    --fx: -40px;
    --fr: -60deg;
    --fd: .15s;
    --fds: 0s;
    --pbx: 3px;
    --pby: -3px;
    --pbd: .15s;
    --pex: -24px;
  }

  /* discussion form */
  #discussion-form-container {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    width: 300px; /* Define a fixed width */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  
    /* Adjust positioning */
    position: absolute;
    top: 170px; /* Adjust to place it below the search bar */
    left: 50%;
    transform: translateX(-50%);
  
    z-index: 1000; /* Ensure it's above other content */
  }
  

/* Form styles */
#new-discussion-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}

#new-discussion-form label {
  font-weight: 600;
  color: #333;
}

#new-discussion-form input,
#new-discussion-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

#new-discussion-form .submit-button {
  background: #404660;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

#new-discussion-form .submit-button:hover {
  background: #3A4059;
}


.inputGroup {
  font-family: 'Segoe UI', sans-serif;
  margin: 1em 0;
  max-width: 190px;
  position: relative;
}

.inputGroup input,
.inputGroup textarea {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
  resize: none; /* Prevent manual resizing */
  transition: border-color 0.3s ease;
  box-sizing: border-box;
}

.inputGroup label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

.inputGroup :is(input:focus, textarea:focus, input:valid, textarea:valid)~label {
  transform: translateY(-50%) scale(0.9);
  margin: 0;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: #e8e8e8;
}

.inputGroup :is(input:focus, textarea:focus, input:valid, textarea:valid) {
  border-color: rgb(150, 150, 200);
}

.inputGroup.content textarea {
  overflow: hidden; /* Ensures smooth auto-expansion */
  transition: height 0.2s ease-in-out;
}

/*button submit */
.button {
  background-color: #ffffff00;
  color: #fff;
  width: 10em;
  height: 4.6em;
  border: #3654ff 0.2em solid;
  border-radius: 11px;
  text-align: right;
  transition: all 0.6s ease;
}

.button:hover {
  background-color: #3654ff;
  cursor: pointer;
}

.button svg {
  width: 1.6em;
  margin: -0.2em 0.8em 1em;
  position: absolute;
  display: flex;
  transition: all 0.6s ease;
}

.button:hover svg {
  transform: translateX(5px);
}

.text {
  margin: 0 1.5em
}


/*  buttom image*/
/* Adjusting bottom-image to ensure the forum list appears on top */
.bottom-image {
  position: relative; /* Make it a positioning context */
  height: 800px; /* Set height as needed */
  width: 100%;
  background-image: url(images/pexels-raulling-29475164.jpg); /* Your new image here */
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  
}

.container {
  padding: 20px;
  z-index: 10;
  position: relative;
}

.posts-table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent white background for contrast */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 10px; /* Position the table slightly above */
  margin-bottom: 30px;
  
  
}


.posts-table th, .posts-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  
}

.posts-table th {
  background-color: #4CAF50;
  color: white;
}

.posts-table td a {
  color: #007BFF;
  text-decoration: none;
}

.posts-table td a:hover {
  text-decoration: underline;
}

.forum-list-container {
  position: absolute; /* Position it absolutely within the bottom-image */
  bottom: -10%; /* Adjust this value to vertically position the content */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the content exactly */
  z-index: 1; /* Ensure it stays on top */
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background for readability */
  border-radius: 10px; /* Optional: for rounded corners */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional: Shadow effect */
}


/* pagination */
.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination a {
  padding: 10px;
  margin: 0 5px;
  background-color: #f4f4f4;
  text-decoration: none;
  color: #333;
  border-radius: 5px;
}

.pagination span {
  padding: 10px;
}

.pagination a:hover {
  background-color: #ccc;
}
